/* body{
    background-color: darksalmon;
    
} */
img {
    width: 100%;
}

body {
font-family: "Arial";
line-height: 25 px;

}

.column{
    width: 600px;
    margin: 40px auto;
    border: dotted 15px #929292;
    padding-top: 50px;
    padding-bottom: 50px;
   }

   p {
        border: solid 5px #929292;
        padding: 20px;
        border-radius: 10px;
   }


