/* body{
    background-color: darksalmon;
    
} */
img {
    width: 100%;
}

body {
font-family: "Arial";
line-height: 25 px;
background-color: darksalmon;
}

.column{
    width: 600px;
    margin: 40px auto;

}

h1{
    font-family: Georgia;
    font-size: 60px;
}